[Unit]
Description=Run script at startup after all systemd services are loaded
After=default.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=${PATH_to_Services_script}
TimeoutStartSec=0

[Install]
WantedBy=default.target

